<!DOCTYPE HTML>
<html lang="zxx">

<head>
	<title>tweet贸易战数据查询</title>
	<!-- Meta-Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="">
	<script type="text/javascript" src="static/js/echarts.js"></script>
	<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap-table.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap-select.min.css"/>

	<script type="text/javascript" src="static/js/bootstrap.js"></script>
    <script type="text/javascript" src="static/js/bootstrap-table.js"></script>
    <script type="text/javascript" src="static/js/bootstrap-select.min.js"></script>
</head>

<body>
<div>
	起始日期：<input type="text" id="start_time" value="20180320">
	结束日期：<input type="text" id="end_time" value="20190601">
	<select id="cate_selector">
		<option value ="-2">全部类别</option>
		<option value ="-1">tweet没有文本</option>
		<option value="0">类别0</option>
		<option value="1">类别1</option>
		<option value="2">类别2</option>
		<option value="3">类别3</option>
		<option value="4">类别4</option>
	</select>
	<select id="sentiment_selector">
		<option value ="-1">全部</option>
		<option value="POSITIVE">正向</option>
		<option value="CENTRAL">中性</option>
		<option value="NEGATIVE">负向</option>
	</select>
	<button type="button" id="btn_summary">查询汇总</button>
	<button type="button" id="btn_detail">查询详细</button>
	<br>
	总量:<label id="show_label">0</label>
</div>

<div class="t2_box_con" style="padding:0px 10px 0px;">
	<!-- 此处加载图像 -->
	<div id="my_chart" style="float:left; width: 80%; height: 360px;"></div>
	<div id="word_cloud_img" style="float: left; width: 20%; height: 360px;">
		hash tags 词云
		<img src="" id="hash_tags_wc"/>
	</div>
</div>

<br>
===============================================================

<div>
	<p>以下是每一条tweet</p>
	<div style="text-align:right;">
		按照
		<select id="select">
			<option value ="nbr_retweet">转发次数</option>
			<option value ="nbr_favorite">喜欢次数</option>
			<option value="nbr_reply">评论次数</option>
			<option value="score">类别得分</option>
		</select>
		降序排列
	</div>
	<table id="tweet_list" style="table-layout:fixed"></table>
</div>

</body>

<script type="text/javascript">
	$(function() {
		clickSummary()
		initTable();
		$('#tweet_list').bootstrapTable('hideLoading');
	})

	function queryParams(params) {
		var start_time = $("#start_time").val()
		var end_time = $("#end_time").val()
		var sorted_by = $("#select").val()
		return {
			limit: params.limit,
			offset: params.offset,
			start_time: start_time,
			cate: $("#cate_selector").val(),
			sentiment: $("#sentiment_selector").val(),
			end_time: end_time,
			sorted_by: sorted_by
		};
	}

	function sum(arr) {
		var s = 0;
		for (var i=arr.length-1; i>=0; i--) {
			s += arr[i];
		}
		return s;
	}

	var initTable = function() {
		$('#tweet_list').bootstrapTable({
			url: '/query/all_tweets',
			method : "POST",
			contentType: "application/x-www-form-urlencoded" ,//请求方式为POST时，毕传
			maintainSelected:true,
			//height: getHeight(),
			queryParams: queryParams,//参数
			striped : true,
			cache : false,   //是否使用缓存
			pagination : true,
			sidePagination :  "server", //客户端
			pageNumber : 1, //初始化加载第一页
			pageSize : 10, //每页显示的数据条数
			pageList: [10,20,50],  //允许客户选择的每页数据条数
			clickToSelect : true,    //是否启用点击选中行
			idField:"id",
			uniqueId : "id", //唯一标示
			filterControl : false, //列可以进行收索
			selectItemName:'id',

			columns : [
				{field:'date_time',title:'时间',align:"center",valign:'middle',width:100},
				{field:'user_id',title:'用户',align:"center",valign:'middle',width:100},
				{field:'text',title:'推文',align:"center",valign:'middle',width:600},
				{field:'hash_tags',title:'hash tags',align:"center",valign:'middle',width:150},
				{
					field:'url',title:'链接',align:"center",valign:'middle',width:100,
					formatter: function (value, row, index) {
						return '<a href="https://twitter.com/' + value + '" target="_blank">' + value.split('/')[1] + '</a>';
					},
				},
				{field:'nbr_retweet',title:'转发次数',align:"center",valign:'middle',width:50},
				{field:'nbr_favorite',title:'喜欢次数',align:"center",valign:'middle',width:50},
				{field:'nbr_reply',title:'评论次数',align:"center",valign:'middle',width:50},
				{field:'sentiment',title:'情感态度',align:"center",valign:'middle',width:50},
			],
		})
	}


	$("#btn_detail").click(function() {
		$('#tweet_list').bootstrapTable('refresh')
	})


	var myChart = echarts.init(document.getElementById('my_chart'));

	var clickSummary = function() {
		var start_time = $("#start_time").val()
		var end_time = $("#end_time").val()
		$.ajax({
			url: "/query/summary",
			dataType: "json",
			type: "get",
			async : true,
			data: {
				start_time: start_time,
				end_time: end_time,
				cate: $("#cate_selector").val(),
				sentiment: $("#sentiment_selector").val(),
			},
			success: function(resp) {
				if (resp.status == 0) {
					data = resp.data
					$("#show_label").text("" + sum(data.values))
					var option = {
						color: ['#ffa82f'],
		        /* 图像四周边距设置 */
				    grid:{
		        	left:100,
		          top:30,
		          right:50,
		          bottom:30
						},
					 	/* 图例说明 */
					 	legend: {
							// 图例排项 vertical-"竖向"; horizontal-"横向"
					     orient: 'horizontal',
							// 图例组件离容器左侧的距离
						  right : 50	,
						  top: 0,
						  //图例文字的样式
						  textStyle:{
						  	color:'#6ab2ec',
						  },
					    // 与series中每个name一一对应
					    data:['发布量']
				      },
					 	/* 鼠标悬浮时显示数据 */
					 	tooltip : {
							trigger: 'axis',
							axisPointer : {            // 坐标轴指示器，坐标轴触发有效
								type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
						   }
					   },
						xAxis: {
                			type: 'category', // category为一级分类,适用于离散的类目数据
                			boundaryGap: false,  // 无间隙
                			data: data.dates
            			},
						yAxis: {
							type: 'value', // 'value' 数值轴，适用于连续数据。
							splitLine: {
                 			show: true,
                 			//  改变轴线颜色
                 			lineStyle: {
                     		// 使用深浅的间隔色
                     			color: ['#132a6e']
                 			}
             			}
						},

						series: [{
            	name:'发布量',
            	data: data.values,
            	type: 'line',
            	symbol: 'circle',
            	// 设置折点大小
            	symbolSize: 10,
            	// 设置为光滑曲线
            	smooth: true
						},]
					}
				myChart.setOption(option)

				//refresh word cloud
				$("#hash_tags_wc").attr("src", resp.img_src)
				} //end if status = 0

			},
			error: function(data) {
				alert("请求出错");
			}
		});
	}

	$("#btn_summary").click(clickSummary);

</script>


</html>